/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* titels en tekst*/

h1 {
	font-family: "Lato";
	font-weight: 900;
	font-size: 2em;
	color: white;
	text-shadow: 0 0 4px rgb(34 34 34 / 30%);
}

h2 {
	font-family: "Lato";
	font-weight: 900;
	font-size: 2em;
	color: rgb(101,82,168);

}

h3 {
	font-family: "Lato";
	font-weight: 900;
	font-size: 1em;
	color: #141251;
}

h4 {
	font-family: "Lato";
	font-weight: 900;
	font-size: 1.4em;
	color: #141251;
}

p {
	font-family: "Lato";
	font-weight: 200;
	font-size: 1em;
	color: rgb (34, 34, 34);
	line-height: 1.6em;
}

header img {
	width: 100px;
}

/* Navigatie */


nav a{
	text-decoration: none;
	font-family: "Lato";
	font-weight: 200;
	font-size: 1em;
	color:#141251;

}

nav li {
	list-style: none;
}


/* Hero */



.hero {

	background-image: url(../images/willy-wo-pXnMG0FfSwA-unsplash.jpg);
	width: 100vw;
	height: 40vh;

}

.hero h3 {
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
	width: 11em;
	
}

/* Intro */

.intro p{

	font-family: "Lato";
	font-weight: 200;
	font-size: 1.2em;
	color: rgb (34, 34, 34);
	line-height: 1.6em;
	
}


/* Services Cards */

.card {
	background-color: #6552a8;
}

/* Footer */

footer {
	background-image:linear-gradient(90deg, #6552a8 0%, #1b60db 100%);
}

footer a {
	font-family: "Lato";
	font-weight: 200;
	font-size: 1em;
	color:#ffffff;
	text-decoration: none;
	
}

footer li {
	list-style: none;
}
